body {
  background: #eee;
  font-size: 1.1rem;
  font-family: sans-serif;
  margin: 0;
}

#root {
  display: flex;
  height: 100vh;
  width: 100vw;
}

nav {
  width: 250px;
  flex: 0 0 auto;
  border-right: 1px solid #888;
  background: var(--selected-background);
}

nav header {
  margin: 20px;
}

nav hr {
  border: none;
  border-bottom: 1px solid #888;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  height: 2.5rem;
  font-size: 1.25rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: var(--color);
}

nav a:hover {
  background: var(--active-background);
}

main {
  flex: 1 1 auto;
  margin: 0 40px;
  overflow: auto;
}

section {
  background: white;
  padding: 20px;
  padding-top: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px 0;
  max-width: 1000px;
}

p {
  line-height: 1.75rem;
}

pre {
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}
