:root {
  --border-color: #888;
  --border-radius: 0.25rem;
  --box-shadow: 0 4px 8px -2px rgb(0, 0, 0, 0.5);
  --color: #222;
  --font-size: 0.9rem;
  --letter-spacing: 0.025rem;
  --padding: 0.25rem 0.5rem;
  --transition: all 75ms;

  --active-background: #bbb;
  --pressed-background: #aaa;
  --selected-background: #ddd;

  --button-background: var(--selected-background);
  --overlay-background: rgba(0, 0, 0, 0.05);
}

[data-solid-ui-button] {
  background: var(--button-background);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  color: var(--color);
  cursor: pointer;
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  padding: var(--padding);
  transition: var(--transition);
}

[data-solid-ui-button]:hover {
  background: var(--active-background);
}

[data-solid-ui-button]:active {
  background: var(--pressed-background);
}

[data-solid-ui-overlay] {
  background: var(--overlay-background);
  inset: 0;
  position: fixed;
}

[data-solid-ui-panel],
[data-solid-ui-dialog] {
  background: white;
  padding: var(--padding);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

[data-solid-ui-list] {
  list-style: none;
  margin: 0;
  padding: 0;
}

[data-solid-ui-list-item] {
  color: var(--color);
  cursor: pointer;
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  padding: var(--padding);
  transition: var(--transition);
  user-select: none;
}

[data-solid-ui-radiogroup] {
}

[data-solid-ui-radiogroup-option] {
  border: 1px solid var(--border-color);
  cursor: pointer;
  padding: var(--padding);
  user-select: none;
}

[data-selected] {
  background: var(--selected-background);
}

[data-active] {
  background: var(--active-background);
}
