:root {
  --border-color: #777;
  --border-radius: 0.25rem;
  --border: 2px solid var(--border-color);
  --border-transparent: 2px solid transparent;
  --box-shadow: 0 4px 8px -2px rgb(0, 0, 0, 0.5);
  --color: #222;
  --disabled-color: #666;
  --focus-outline: 2px solid #444;
  --font-size: 1rem;
  --input-margin: 0 0.25rem 0.25rem 0;
  --letter-spacing: 0.025rem;
  --padding: 0.25rem 0.5rem;
  --panel-padding: 0.5rem 1rem;
  --transition: all 60ms;

  --active-background: #bbb;
  --pressed-background: #aaa;
  --selected-background: #ddd;
  --disabled-background: #eee;

  --button-background: var(--selected-background);
  --overlay-background: rgba(0, 0, 0, 0.05);
}

[data-solid-ui-button] {
  background: var(--button-background);
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  color: var(--color);
  cursor: pointer;
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  padding: var(--padding);
  transition: var(--transition);
}

[data-solid-ui-button]:active {
  background: var(--pressed-background);
}

[data-solid-ui-button]:focus {
  outline: var(--focus-outline);
}

[data-solid-ui-button]:hover {
  background: var(--active-background);
}

[data-solid-ui-button]:disabled {
  background: var(--disabled-background);
  color: var(--disabled-color);
  cursor: default;
}

[data-solid-ui-overlay] {
  background: var(--overlay-background);
  inset: 0;
  position: fixed;
}

[data-solid-ui-panel] {
  background: white;
  padding: var(--panel-padding);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

[data-solid-ui-panel]:focus-visible {
  outline: none;
}

[data-solid-ui-list] {
  list-style: none;
  margin: 0;
  padding: 0;
}

[data-solid-ui-list-item] {
  border: 2px solid transparent;
  color: var(--color);
  cursor: pointer;
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  padding: var(--padding);
  transition: var(--transition);
  user-select: none;
}

[data-solid-ui-input] {
  border: var(--border);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  font-size: var(--font-size);
  margin: var(--input-margin);
  padding: var(--padding);
  transition: var(--transition);
}

[data-solid-ui-input]:focus-visible {
  border: var(--focus-outline);
  outline: none;
}

[data-solid-ui-disclosure-content] {
  border: var(--border);
  border-radius: var(--border-radius);
  letter-spacing: var(--letter-spacing);
  padding: 1rem;
  margin: 0.5rem 0;
}

[data-solid-ui-radiogroup] {
  display: inline-block;
  letter-spacing: var(--letter-spacing);
  list-style: none;
  margin: 0;
  padding: 0;
  outline: none;
}

[data-solid-ui-radiogroup-radio] {
  border: var(--border);
  border-radius: var(--border-radius);
  cursor: pointer;
  padding: var(--padding);
  margin: var(--input-margin);
  transition: var(--transition);
}

[data-solid-ui-radiogroup-radio][data-active] {
  border: var(--focus-outline);
}

[data-solid-ui-form-control] {
  display: flex;
  flex-direction: column;
}

[data-solid-ui-form-control-label] {
  color: var(--border-color);
  font-size: 0.9rem;
  transition: var(--transition);
}

[data-solid-ui-form-control-label][data-focused] {
  color: var(--color);
}

[data-solid-ui-switch] {
  background: white;
  border: var(--border);
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: var(--font-size);
  padding: 0.125rem;
  height: 1.9065rem;
  width: 3.5rem;
  transition: all 60ms;
}

[data-solid-ui-switch]:focus {
  background: var(--active-background);
  border: var(--focus-outline);
  outline: none;
}

[data-solid-ui-switch]::after {
  content: '';
  background: var(--border-color);
  display: flex;
  height: 100%;
  width: 1.4065rem;
  border-radius: 0.125rem;
  transition: all 60ms;
}

[data-solid-ui-switch]:focus::after {
  background: #444;
}

[data-solid-ui-switch][data-checked]::after {
  background: #444;
  transform: translateX(1.6rem);
}

[data-solid-ui-calendar-root] {
  display: inline-flex;
  flex-direction: column;
  width: 17.5rem;
}

[data-solid-ui-calendar-month] {
  border: none;
  border-collapse: collapse;
}

[data-solid-ui-calendar-day] {
  height: 2.5rem;
  display: table-cell;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: var(--border-radius);
}

[data-solid-ui-calendar-day]:focus {
  outline: var(--focus-outline);
}

[data-solid-ui-calendar-month-body-day]:not([data-visible-month]) {
  color: var(--active-background);
}

[data-selected],
[data-checked] {
  background: var(--selected-background);
}

[data-active] {
  background: var(--active-background);
}
